{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'home/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/main.css' %}">
</head>
<body>
    <br/>

<!-- Navigation Bar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home:home_view' %}">CoopFood</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'home:about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'addrecipe:add_recipe' %}">Add</a></li>
                  <li><a href="{% url 'search:search' %}">Search</a></li>
                  <li><a href="#">Help</a></li>
            </ul>
      </div>
  </div>
</nav>
    <!-- Header -->
    <div class="formsetup">
        <div class= "container">
            <div class ="row">
                <div class= "col-md-12" align = "center">
                     <img src="{% static 'home/images/kale.png' %}" alt="Kale" style="width:75px;height:75px">
                    CoopFood
                </div>
            </div>

                <h3><p>About</p></h3>
                <p>This website was created by Adina Shanholtz (Oberlin College '15) for her Fall 2014 private reading. It's intended to
                allow head cooks in OSCA to search for recipes by main or excess ingredient (for example the co-op just has a ton of Swiss chard no one used)
                with or without dietary restrictions.</p>
                <p>Currently the implemented features are:<br/>
                <li>Add Recipe </li>
                <li>Search</li>
                </p>
                
                <br/>
                
            <br />
            <hr/>
            <br />
            <footer>
                <small>
                    <center>
                        <p>Last Updated 10/27/2014</p>
                        <p>For assistance please contact <a href="mailto:admin@coopfood.com">admin@coopfood.com</a></p>
                    </center>
                </small>
            </footer>
        </div>
    </div>

</body>
</html>
