
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

<script type="text/javascript" src="{% static 'menu/jquery-2.1.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'menu/bootstrap-3.2.0-dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'menu/main.css' %}">
<script type="text/javascript" src="{% static 'menu/bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
<link rel="stylesheet" href="{% static 'addrecipe/recipeview.css' %}">


</head>
<body>
    <br/>

<!-- Navigation Bar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
            <a class="navbar-brand" href="#">CoopFood</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <li><a href="{% url 'home:about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'addrecipe:add_recipe' %}">Add</a></li>
                  <li class = "active"><a href="{% url 'search:search' %}">Search</a></li>
                  <li><a href="#">Help</a></li>
            </ul>
      </div>
  </div>
</nav>
    
    <!-- Header -->
    <div class="formsetup">
        <div class= "container">
            <div class ="row">
                <div class= "col-md-12" align = "center">
                     <img src="{% static 'menu/images/kale.png' %}" alt="Kale" style="width:75px;height:75px">
                    CoopFood
                </div>
            </div>
            
            <h3>Your Menu</h3> 
            <div class ="row">

           {% for item in menu %}

            <div class = "recipe">
                    <div class = "row">
                        <div class= "col-md-11">
                            {{ item.product.recipe_name  }}
                        </div>
                        <div class = "col-md-1">
                            <a class="btn btn-default" href="{% url 'menu:rem_menu' item.product.id %}"><span class="glyphicon glyphicon-minus"></span></a>
                            
                        </div>
                    <!-- edit button goes here -->
                    <!-- remove from list button goes here -->
                    </div>
                    <div class = "row">
                        <div class= "col-md-4">
                            <h4>Ingredients</h4><p>
                            {% for ingredient in item.product.ingredient_set.all %}
                                {{ forloop.counter }}.
                                {{ ingredient.ingredient_text }}:
                                {{ ingredient.amount }}
                                {{ ingredient.get_unit_display }}<br />
                            {% endfor %}
                            </p>
                        </div>
                        <div class= "col-md-4">
                            <h4>Instructions</h4><p> 
                            {% for instruction in item.product.instruction_set.all %}
                                {{ forloop.counter }}.
                                {{ instruction.instruction_text }}<br />
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                    
            </div>
            
            {% endfor %}

        
            
           
            <br/>    
            <br />
            <hr/>
            <br />
            <footer>
                <small>
                    <center>
                        <p>Last Updated 11/07/2014</p>
                        <p>For assistance please contact <a href="mailto:admin@coopfood.com">admin@coopfood.com</a></p>
                    </center>
                </small>
            </footer>
        </div>
    </div>

</body>
</html>
